.weak {
    background-color: red;
}

.medium {
    background-color: yellow;
}

.strong {
    background-color: green;
}

/* Attribute selector; all input boxes with type="text" */
input[type="text"] {
    padding: 10px;
    font-size: 2em;
}