/* Include Foundation */
@import '../node_modules/foundation-sites/scss/foundation';

@include foundation-global-styles;
@include foundation-grid;

body {
    background-color: palegoldenrod;
}

button {
    border: 2px solid black;
    border-radius: 3px;
    box-shadow: 1px 2px 8px #666;
    background-color: oldlace;
    padding: 12px;

    &:active {
        background-color: darken(oldlace, 20%);

        position: relative;
        top: 2px;
        left: 1px;
    }
}