.row {
    border: 1px solid black;
}

.one div {
    width: 50%;
}

.two div {
    width: 33.33%;
}

div {
    border: 1px solid red;
    display: inline-block;
    box-sizing: border-box;
    padding: 5px;

    /*
    box-sizing: 
        - content-box
        - padding-box
        - border-box
    */
}

div label {
    display: block;
}

div input {
    display: block;
}