/* Include Foundation */
@import '../node_modules/foundation-sites/scss/foundation';

@include foundation-global-styles;
@include foundation-grid;

body {
    background-color: lightsalmon;
}

.hidden {
    display: none;
}