<!doctype html>
<html>

<head>
    <link rel="stylesheet" href="css/style.css">

    <script src="http://underscorejs.org/underscore-min.js"></script>
    <script src="js/app.js"></script>

    <script type="text/template" id="food-template">
        <h2><%= food.name %></h2>
        <p>
            <%= food.type %>
        </p>
        <p>Delicious in
            <%= food.suggestions %>
        </p>
    </script>
</head>

<body>
    <h1>Food Search Y2K</h1>
    <input type="text" id="search-box" placeholder="Food name">
    <label for="type-vegetables">Vegetables</label>
    <input type="radio" id="type-vegetables" name="subtype">
    <label for="type-meats">Meats</label>
    <input type="radio" id="type-meats" name="subtype">

    <section id="results"></section>
</body>

</html>