body {
    margin: 0;
}

header {
    background-color: #000000;
    color: #bdbdbd;
}

header #logo {
    width: 187px;
    height: 43px;
    margin: 1% 0;
}

header ul {
    display: inline-block;
    vertical-align: top;
    margin: 1% 0;
    width: 50%;
}

header li {
    display: inline-block;
    list-style-type: none;
    line-height: 43px;
    margin: 0 2%;
    text-transform: uppercase;
}

header div {
    display: inline-block;
    vertical-align: top;
}

.column {
    padding-left: 10%;
    padding-right: 10%;
}