body {
    background-color: white;
}

div {
    background-color: lightgreen;
}

ol {
    background-color: purple;
}

#navigation {
    font-size: 30px;
}

#topics {
    font-size: 20px;
}

.story {
}

.story h2 {
    
}












