.block {
    display: inline-block;
    width: 20%;
    margin: 1%;
    height: 100px;

    border: 2px solid black;
}

.red {
    background-color: red;
}

.black {
    background-color: black;
    color: white;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}

.hidden {
    visibility: hidden;
}