<!doctype html>
<html>

<head>
    <script src="http://code.jquery.com/jquery-2.2.3.min.js"></script>
    <script src="http://underscorejs.org/underscore-min.js"></script>
    <script src="http://backbonejs.org/backbone-min.js"></script>
    <script src="js/app.js"></script>

    <script type="text/template" id="add-template">
        <h2>add a food</h2>
        <form id="add-food-form">
            <input type="text" id="food-name" placeholder="Name">
            <input type="number" id="food-calories" placeholder="100">
            <button id="submit-food">Add food</button>
        </form>
    </script>
    <script type="text/template" id="list-item-template">
        <li>
            <h2><%= name %></h2>
            <p>
                <%= calories %> calories
            </p>
        </li>
    </script>
</head>

<body>
    <h1>testing</h1>
    <h2><a href="#/add">add new food</a></h2>
    <h2><a href="#/list">list foods</a></h2>
    <main id="content">
        <div id="add-food-section"></div>
        <ul id="list-food-section"></ul>
    </main>
</body>

</html>