<!doctype html>

<html>
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
    <script src="app.js"></script>
</head>

<body ng-app="BookApp">
    <section ng-controller="CheckoutController">
        <!-- ng-model links info in the DOM with a $scope variable -->
        <input type="text" placeholder="Name" ng-model="username">
        <book ng-repeat="tome in books" readable="tome"></book>
    </section>
    
    <section ng-controller="SearchController">
        <input type="text" ng-model="borrower" placeholder="Search for user...">
        <button ng-click="search()">Search</button>

        <!-- List of books BORROWED BY $scope.borrower -->
        <book ng-repeat="article in books" readable="article"></book>
    </section>
</body>
</html>