#boxes {
    margin-top: 100px;
    border: 2px black;
    padding: 20px;
    background-color: #ccc;

    position: relative;
}

.box {
    width: 200px;
    height: 200px;

    border: 2px solid black;
}

.yellow {
    background-color: yellow;
}

.salmon {
    background-color: lightsalmon;
    position: absolute;

    top: 10px;
    left: 10px;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}