body {
    
}

header {
    background-color: darkblue;
    color: white;

    opacity: 0.7;

    /* 
        Positions are relative to screen position by default.
        Full rule: relative to nearest positioned parent element.
        A 'positioned' element is one that has position set to anything but 'static'.

        position: absolute; 
        Exactly x, y pixels from the corners.
        Removed from normal page flow.

        position: relative; 
        x, y pixels from where it would have been.
        Kept in normal page flow.

        position: fixed; 
        Like absolute, but stays when the page scrolls.
        Removed from normal page flow.
    */
    position: relative;
    left: 10px;
    top: 200px;
}

nav li {
    display: inline-block;
    width: 20%;
}