<!doctype html>
<html>
    <head>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular.min.js"></script>
        <script src="js/app.js"></script>
    </head>
    <body ng-app="HelloWorldApp">
        <div ng-controller="MainAppController">
            <div id="detailed-display">
                <h1>{{ current.name }}</h1>
                <h2>Superpower: {{ current.power }}</h2>
            </div>
            <h1>My first Angular app</h1>
            <input type="text" ng-model="pancake">
            <ul>
                <li ng-click="getDetails(hero.id)" ng-repeat="hero in heroes | filter: pancake">
                    <p>{{ hero.name }}</p>
                </li>
            </ul>
        </div>
    </body>
</html>