<!doctype html>

<!-- DO NOT USE THIS CODE FOR YOUR ASSIGNMENT -->
<html ng-app="QuestionKingApp">

<head>
    <title>Question King</title>
    <link rel="stylesheet" href="style.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
    <script src="app.js"></script>
</head>

<body>
    <section ng-controller="GameController">
        <h1>Question King</h1>
        <h3>Score: {{ score }}</h3>
        <h2>The people want to know: {{ question }}</h2>
        <input type="text" ng-model="guess" placeholder="Your answer, m'lord?">
        <button ng-click="makeAGuess()">Tell 'em</button>
    </section>
    <section ng-controller="GuessHistoryController">
        <ul>
            <li ng-repeat="element in history">
                <h3>{{ element.question }}</h3>
                <p>{{ element.correct }}</p>
                <p>{{ element.points }}</p>
            </li>
        </ul>
        <!-- Create a new <li> for every element in $scope.history -->
    </section>
</body>

</html>