<section class="beast">
    <!-- Go to 'details' state with certain route params set -->
    <!-- Call details() and pass it an object with animalNum = whatever -->
    <h2><a ui-sref="details({ animalNum: $ctrl.species.id })">{{ $ctrl.species.name }}</a></h2>
    <p>Sighted in: {{ $ctrl.species.place }}</p>
    <p>Number of eyes: {{ $ctrl.species.eyes }}</p>
    <p>Facts of note: {{ $ctrl.species.facts }}</p>
    <!-- Define this function in the controller FOR THE COMPONENT -->
    <button ng-click="pet($ctrl.species)">Look at that photograph</button>
</section>