$bg-color: white;
$font-color: white;

/**
 * Main styles for my header.
 */
/*
header {
    background-color: $bg-color;
    li {
        color: $font-color;
    }
    .triangle {
        @include triangle(20px, red, down);
    }
}
*/