// This is how we bring in Foundation's SASS stuff.
@import '../node_modules/foundation-sites/scss/foundation';

// foundation now exists
@include foundation-global-styles;
@include foundation-grid;

$grid-column-gutter: 30px;

h1 {
    // Important idea #1: creating rows
    @include grid-row();
}

main {
    @include grid-row();
    background-color: orange;

    section {
        // Important idea #2: creating columns
        // "occupy 4 of the 12"
        @include grid-column(12);
        text-align: center;
        border: 2px solid black;

        // if its 'medium' or larger, do this
        // breakpoint(small, medium, large)
        @include breakpoint(medium) {
            @include grid-column(4);
            background-color: green;
        }
    }

    ul {
        list-style-type: none;
        padding: 0;

        li {
            padding: 5px 0;
        }
    }

    .selected {
        border: 6px solid black;
    }
}

// button {
//     border: 1px solid black;
//     background-color: white;
//     width: 80%;
//     padding: 10px 1%;
//     margin: 8px 10%;
//     border-radius: 5px;
// }


#ultra-features section {
    @include grid-column(3);
    display: none;

    @include breakpoint(medium) {
        display: block;
    }
}




// $breakpoint-large: 800px;
// body {
//     h1 {
//         font-size: 1.8em;
//         padding: 1%;

//         @media (min-width: $breakpoint-large) {
//             font-size: 2.5em;
//         }
//     }

//     section {
//         display: block;
//         width: 100%;

//         // Apply these styles when element width is 800px or larger
//         @media (min-width: $breakpoint-large) {
//             width: 30%;
//             padding: 0 1%;

//             display: inline-block;
//         }
//     }
// }
