/*
selector {
    property: value;
    property: value;
    property: value;
}

    When it comes to sizes of things:
        1. it takes practice
        2. use units depending on what you're sizing

    for fonts, prefer em (1em = 'normal' font size on computer)
    for layouts, prefer % (percentage of parent)
    for images, prefer px (absolute pixels)
        - because we use pixels here, we need to make special 
        accomodations for images when working on cross-device sites
*/
body {
    background-color: red;
}

/* select by element name */
header {
    background-color: green;
    border: 2px solid black;
}

/* child selector */
header img {
    border: 2px dotted black;
}

#logo {
    width: 200px;
}

/* select by id */
#content {

}

/* select by class */
.full {

}

h1 {
    font-weight: normal;
    font-size: 1.2em;
    width: 60%;
    display: inline-block;
    vertical-align: top;
}

h2 {
    font-size: 48px;
}

section {
    background-color: orange;
}

footer {
    background-color: purple;
}