/* Include Foundation */
@import '../node_modules/foundation-sites/scss/foundation';

@include foundation-global-styles;
@include foundation-grid;

$button-color: #bf361e;

body {
    background-color: #ffdbb5;
}

h1 {
    font-family: 'Marvel', sans-serif;
    font-size: 4em;
}

#login {
    input, button {
        font-size: 1.8em;
        padding: 20px 10px;
    }

    button {
        margin-left: 10px;
    }
}

.hidden {
    display: none;
}

#game, #login {
    text-align: center;
    padding: 50px 0;
}

button#the-button {
    font-family: 'Anaheim', sans-serif;
    border: 4px outset darken($button-color, 20%);
    background-color: $button-color;
    color: lighten($button-color, 40%);
    padding: 20px 4%;
    font-size: 4em;
    font-weight: bold;

    text-shadow: 2px 2px 3px darken($button-color, 20%);

    p {
        margin: 0;
        line-height: 1.3em;
    }
}

#high-scores { // the <ul>
    padding: 0 10%;


    li {
        @include grid-row();
        list-style-type: none;
        font-size: 1.8em;
        padding: 10px 2%;
    }

    li div.rank {
        @include grid-column(2);
        background-color: magenta;
    }

    li div.name {
        @include grid-column(6);
        background-color: aquamarine;
    }

    li div.score {
        @include grid-column(4);
        background-color: lawngreen;
    }
}