/* question: why is the figcaption extending below the image? */
body {
    font-family: 'Exo 2', sans-serif;
}

#places {
    padding: 3%;
}

/* 
    Figures are the containers for images and the text that
    labels them. they need to be relatively positioned so that
    we can move stuff around inside.
*/
figure {
    /* "relative to where you are now" */
    position: relative;
    margin: 5px;
}

figure img {
    width: 100%;
}

figcaption {
    /* "relative to the closest parent that was positioned" */
    position: absolute;
    /* anchor to the bottom as well as the left AND right */
    bottom: 0;
    /* anchoring to left and right gives it 100% width */
    left: 0;
    right: 0;
    padding: 2%;
    opacity: .9;

    background-color: #333;
    color: #ccc;
}

figcaption p {
    display: inline-block;
    width: 40%;
    margin: 0;
}

/* we want this to show up on the right side of the screen */
.cost {
    float: right;
    text-align: right;
}

.half {
    vertical-align: top;
    width: 48%;
    box-sizing: border-box;
    display: inline-block;
}