

header {
    background-color: yellow;
    width: $column-width * 12;

    h1 {
        /* pull in styles from the .column rule */
        @extend .column;
        background-color: green;
        width: $column-width * 6;

        @media (max-width: 800px) {
            width: $column-width * 12;
        }
    }

    nav {
        /* pull in styles from the .column rule */
        @extend .column;
        background-color: orange;
        width: $column-width * 6;

        ul {
            list-style-type: none;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        @media (max-width: 800px) {
            display: none;
        }
    }
}