/**
 * SASS
 *
 * 1. Use @import to split code into multiple files.
 * 2. Nesting
 * 3. Variables
 * 4. Inheritance
 * 5. Math
 */

 /**
  * Responsive design
  *
  * 1. Use a grid. Always. 
  * 2. Use media queries to change the rules when needed.
  * 3. Responsive images.
  */
$num-columns: 12;
$column-width: 90% / $num-columns;

/* Colors */
$header-bg-color: yellow;
$content-bg-color: orange;
$footer-bg-color: #ccc;
$font-color: #333;
$warning-color: darken($font-color, 40%);

/* Font sizes and font families */
$big-font-size: 2em;
$med-font-size: 1.8em;
$sm-font-size: 1.2em;

$breakpoint-large: 1000px;

/* Pull in a file called base.scss */
@import 'base';
@import 'header';
@import 'content';
@import 'footer';