$primary-bg-color: #FCFCFC;
$primary-font-color: #000000;
$highlight-bg-color: #095960;

/* 
   Import different partials using
   the @import keyword. 

   @import 'header' means
   @import '_header.scss'.
*/
@import 'header';
@import 'hero';
@import 'highlights';
@import 'footer';

body {
    background-color: $primary-bg-color;
    color: $primary-font-color;
}

/**
 * Header and footer should have a black
 * background and white text.
 *
 * Hero section should have blue background
 * and white text.
 *
 * Nav should be horizontal with some spacing
 * around the elements.
 */

 header, footer {
     background-color: $primary-font-color;
     color: $primary-bg-color;
 }

 #hero {
     background-color: $highlight-bg-color;
     color: $primary-bg-color;
 }

 header nav {
    ul {
         display: flex;
         list-style-type: none;
    }
 }