<!doctype html>

<html ng-app="SchoolApp">

<head>
    <title>School Supplyz</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
    <script src="school.js"></script>
    <link rel="stylesheet" href="style.css">
</head>

<body ng-controller="SupplyController">
    <h1>School Supplyz</h1>
    <label for="name">Name</label>
    <input type="text" id="name" ng-model="name" placeholder="Name">

    <label for="quantity">Quantity</label>
    <input type="number" ng-model="quantity" id="quantity">

    <label for="ppu">Price per unit</label>
    <input type="number" ng-model="price" id="ppu">

    <button ng-click="addToCart()">Add to cart</button>

    <section>
        <ul>
            <!-- 'item' is the current element of $scope.cart -->
            <li ng-repeat="item in cart">
                <h3>{{ item.name }}</h3>
                <p>{{ item.price }} x {{ item.quantity }}</p>
            </li>
        </ul>
    </section>
</body>

</html>