input[type='text'] {
    margin-left: 1%;
    padding: .5%;
    font-size: 1.5em;
    width: 50%;
}

.food {
    border: 1px solid #333;
    margin: 1%;
    padding: 1%;
}

.hidden {
    display: none;
}