<section>
    <h1>Potentially friendly people</h1>
    <h2>Let's call them out individually.</h2>

    <ul>
        <li ng-repeat="friend in friends">
            <!-- 
                person="friend" 
                'person' refers to the variable we want to exist in the component
                'friend' refers to the value we want it to have in the current scope
            -->
            <friend-summary person="friend" when-i-click="greet(target)"></friend-summary>
            <!-- person_id: made that up -->
            <!--<h2><a ui-sref="show-details({ person_id: friend.id })">{{ friend.name }}</a></h2>
            <p>I'm from Dallas.</p>
            <p>I have 2 sisters.</p>-->
        </li>
    </ul>
</section>