<!-- $ctrl is how you access binding values -->
<h2>{{ $ctrl.person.name }} from Dallas</a></h2>
<p>I'm from Dallas.</p>
<p ng-click="$ctrl.whenIClick()">I have 2 sisters.</p>
<!--
    If you call a bound function and want to provide a parameter, 
    the syntax is a lil weird. You're saying 'the param called target 
    in my parent; use the value of $ctrl.person for it.'

    - target is the name of the param when we pass it into the component
    - $ctrl.person is the local value
-->
<p ng-click="$ctrl.whenIClick({ target: $ctrl.person })">I have 2 sisters.</p>