/* This is a comment. */

/*
  The following is a CSS 'rule'. All CSS
  is specified in terms of rules, and 
  rules are made up of:
    - selectors: what to style 
    - properties: how to style it
*/

/*
  How to write 'good' CSS rules:
    - Is this rule only EVER going to apply
      to one thing, or potentially multiple?
    - If one, how can you UNIQUELY identify it?
    - If multiple, what's the category of things
      that should be styled this way?
*/
body {
    background-color: lightblue;
}

header {
    background-color: green;
    /* Text color */
    /*color: white;*/
}

h1 {
    font-weight: normal;
}

/* 'Child selector' - all ul's in 
   the header */
header ul {
    background-color: yellow;
}

main ul {
    background-color: lightsalmon;
    padding: 0;
}

nav li {
    display: inline-block;
    width: 20%;
}

/* Period = class */
.highlight {
    text-decoration: underline;
}

nav .highlight {
    font-weight: bold;
}

/* Hashtag = id */
/* In my opinion: not recommended */
#focus {

}

main {
    border: 2px solid black;
    /* Add padding on all sides */
    padding: 15px;
    margin: 50px;
    background-color: yellow;
}