/* This is a comment in CSS. TOTALLY DIFFERENT! */

/* 
    CSS "rule" contains selectors and properties 
    In English: "Make all body elements have a red background."

    Selector: what to style
    Properties: how to style it
*/
h1 {
    background-color: blue;
}

h2 {
    /* */
    background-color: #d6482f;
    border: 2px solid black;
}

p {
    color: lightsalmon;
}

header h1 {
    width: 45%;
    display: inline-block;
}

header h2 {
    width: 45%;
    display: inline-block;
    padding: 5px;
    margin-left: 10px;
}

/* Child selector: all paragraphs in the header */
header p {

}

header .testimonial {

}

footer p {

}

/* All paragraphs that have class="testimonial" */
p.testimonial {

}

/* Hypothetical site */
main li.highlight {

}

#heroes .sidekicks .age {

}

footer .copyright {

}


/*
    Types of selectors:

        - Element selector
        body {

        }

        - Class selector (dot)
        .testimonial {

        }

        - ID selector (hashtag)
        #callout {

        }

    You can also COMBINE SELECTORS (!?!?!?!?!?!?!?!?!)
*/