<section>
    <input type='text' ng-model='friend_name'>
    <button ng-click='add()'>Add friend</button>

    <ul>
        <li ng-repeat="friend in friends">
            <img ng-src="{{ friend.pic }}">
            <h3>
                <!-- 
                    <a href=""> for normal link
                    <a ui-sref=""> for link between routes

                    When we add route params, we need to specify the value of
                    those params. Syntax is weird but what're ya gonna do.

                    route({ param: value })
                -->
                <a ui-sref="details({ username: friend.username })">{{ friend.username }}</a>
            </h3>
        </li>
    </ul>
</section>